.DS_Store
/.projectile
src/litdb.egg-info
*.sqlite
rdb*
__pycache__
/*.libsql
/*.libsql-shm
/*.libsql-wal
/build/
*.ipynb_checkpoints/
/.virtual_documents/
/*.xlsx
/litdb.toml
archive

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
*.py[cod]
*$py.class
